<ion-view view-title="Blood Pressure">
  <div class="bar bar-footer pincloudGreen textPincloudWhite" ng-click="modal.show()">

    <div class="title"><i class="ion-compose"></i> New measurement</div>
  </div>
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="getMeasurements()"></ion-refresher>
    <div class="divider-title" style="z-index:999;"><i class="icon ion-calendar"></i> Most recent measurements</div>
    <ul class="timeline">
      <li ng-repeat="measure in allMeasurements | orderBy: 'date' :true | limitTo: limit">
        <div class="timeline-thumb bg-color-{{measure.color}} bg-color-white timeline-icon">
          <i class="icon ion-information"></i>
        </div>
        <div class="timeline-item">
          <h4>{{measure.date | date:'mediumDate'}}</h4>
          <div class="timeline-stats">
            <span class="measurement">Systolic: {{measure.systolic}}</span>
            <span class="measurement">Diastolic: {{measure.diastolic}} </span>
            <span class="measurement">Heart Rate: {{measure.heartrate}}</span>
            <span class="measurement">Arrythmia:
              <i ng-if="measure.arrythmia" class="icon ion-checkmark"></i>
              <i ng-if="!measure.arrythmia" class="icon ion-close"></i>
            </span>
            <p class="col-90">{{measure.comments}}</p>
            <span class="pos-absolute-right"><i class="icon ion-clock"></i> <span am-time-ago="measure.date"></span></span>
          </div>
          <br/>
        </div>
        <div class="divider-title" ng-if="$index == 3" style="z-index:999;">Older measurements</div>
      </li>

    </ul>

    <div class="center" style="padding-top:20px;padding-bottom:20px;">
      <button class="button button-outline button-positive center" ng-if="limit <= allMeasurements.length" ng-click="increaseLimit()">Load more...</button>
    </div>
    <div class="divider-title">October 25, 2016</div>
    <p>
      <div style="vertical-align:middle;display:inline-block;"><i class="ion-ios-circle-filled color-red"></i> <span style="vertical-align:middle;">High blood pressure</span> </div>
        <div style="vertical-align:middle;display:block;"><i class="ion-ios-circle-filled color-yellow"></i> Pre-high blood pressure </div>
        <div style="vertical-align:middle;display:block;"><i class="ion-ios-circle-filled color-green"></i> Normal blood pressure </div>
        <div style="vertical-align:middle;display:block;"><i class="ion-ios-circle-filled color-blue"></i> Low blood pressure </div>
    </p>



    <pre>
      {{allMeasurements | json}}

    </pre>
  </ion-content>

</ion-view>

<script id="blood-pressure-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Blood Pressure Measurement</h1>
    </ion-header-bar>
    <ion-content>
      <form>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Diastolic</span>
          <input ng-model="bloodpressure.diastolic" type="number" placeholder="e.g.: 140"></textarea>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Systolic</span>
          <input ng-model="bloodpressure.systolic" type="number" placeholder="e.g.: 60"></input>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Heart Rate</span>
          <input ng-model="bloodpressure.heartrate" type="number" placeholder="e.g.: 80"></input>
        </label>
        <label class="item item-toggle item-stacked-label">
          Arrythmia
          <label class="toggle toggle-assertive">
            <input style="" value="on" class="ng-untouched ng-valid ng-dirty ng-valid-parse" ng-model="bloodpressure.arrythmia" type="checkbox">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Date of Measurement</span>
          <input ng-model="bloodpressure.date" type="text" placeholder="e.g.: 31/12/2015"></input>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Comments</span>
          <textarea ng-model="bloodpressure.comments" type="text" placeholder="Comments..."></textarea>
        </label>
        <button class="button button-full button-balanced" ng-click="insertBloodPressure(bloodpressure)">
          Save
        </button>
        <button class="button button-full button-assertive" ng-click="closeModal()">
          Close
        </button>
      </form>
    </ion-content>
  </ion-modal-view>
</script>
