<ion-view cache-view="false" view-title="Dashboard">
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="showAllDocs()"></ion-refresher>

    <div class="dash-section">
      <div class="row responsive-sm">
        <div class="col col-33" style="margin-right:20px;min-width:260px;" ng-if="patient == null && loaded">
          <a class="button button-large button-positive pincloudMagenta" href="#/app/profile"><i class="icon ion-person"></i> Start by filling your profile info</a>
        </div>

        <div class="col col-33" style="min-width:260px;" ng-if="profilePic != null && loaded">
          <div class="img-circle-large center">
            <div class="img-circle-src" style = 'background-image: url({{profilePic}})'></div>
          </div>
        </div>
        <div class="col col-33" ng-if="patient != null">

          <div class="list textPincloudLight">
            <a class="item item-icon-left" href="#">
              <i class="icon ion-person"></i> {{patient.firstname}} {{patient.lastname}}
            </a>
            <a class="item item-icon-left" href="#">
              <i class="icon ion-calendar"></i> {{patient.birthday}}
            </a>
            <a class="item item-icon-left" href="#">
              <i class="icon ion-female" ng-if="patient.sex == 'Female'"></i><i class="icon ion-male" ng-if="patient.sex == 'Male'"></i> {{patient.sex}}
            </a>
            <a class="item item-icon-left" href="#">
              <i class="icon ion-waterdrop"></i> {{patient.bloodtype}}
            </a>
          </div>
        </div>
        <div class="col col-33" ng-if="patient != null">

          <div class="list">
            <a class="item item-icon-left item-icon-right" href="#">
              <i class="icon ion-ios-flower"></i>
              Asthma
                <i ng-if="hereditary.asthma" class="icon ion-checkmark"></i>
                <i ng-if="!hereditary.asthma" class="icon ion-close"></i>
            </a>
            <a class="item item-icon-left item-icon-right" href="#">
              <i class="icon ion-waterdrop"></i>
              Diabetes
                <i ng-if="hereditary.diabetes" class="icon ion-checkmark"></i>
                <i ng-if="!hereditary.diabetes" class="icon ion-close"></i>
            </a>
            <a class="item item-icon-left item-icon-right" href="#">
              <i class="icon ion-no-smoking"></i>
              Smoking
              <i ng-if="smoking" class="icon ion-checkmark"></i>
              <i ng-if="!smoking" class="icon ion-close"></i>
            </a>
            <a class="item item-icon-left" href="#">
              <i class="icon ion-heart"></i>
              Heart Conditions
              <span class="item-note">
                {{hereditary.heartconditions}}
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- chart.js -->
    <div class="dash-section bg-alternate">
      <div class="row">
        <h2>Health Measurements</h2>
      </div>
      <div class="row responsive-sm">
        <div class="col">
          <div class="card">
              <div class="item item-divider">
                  Weight
              </div>
              <div class="item item-text-wrap">
                  <!--
                  <canvas id="line" class="chart chart-line"
                          chart-data="chartdata"
                          chart-labels="labels"
                          chart-legend="true"
                          chart-series="series"
                          options="options">
                  </canvas> -->
                  <div id="weightChart"></div>
                <p class="pull-right">
                  <a class="button button-clear button-positive" ng-href="/#/app/weight">View detailed data <i class="icon ion-ios-arrow-thin-right"></i></a>
                </p>
              </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
              <div class="item item-divider">
                  BMI
              </div>
              <div class="item item-text-wrap">
                <div id="BMIChart"></div>
                <p class="pull-right">
                  <a class="button button-clear button-positive" ng-href="/#/app/weight">View detailed data <i class="icon ion-ios-arrow-thin-right"></i></a>
                </p>
              </div>
          </div>
        </div>
      </div>
      <div class="row responsive-sm">
        <div class="col">
          <div class="card">
              <div class="item item-divider">
                  Blood Sugar
              </div>
              <div class="item item-text-wrap">
                <div id="bloodSugarChart"></div>
                <p class="pull-right">
                  <a class="button button-clear button-positive" ng-href="/#/app/bloodsugar">View detailed data <i class="icon ion-ios-arrow-thin-right"></i></a>
                </p>
              </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
              <div class="item item-divider">
                  Cholesterol
              </div>
              <div class="item item-text-wrap">
                <div id="cholesterolChart"></div>
                <p class="pull-right">
                  <a class="button button-clear button-positive" ng-href="/#/app/cholesterol">View detailed data <i class="icon ion-ios-arrow-thin-right"></i></a>
                </p>
              </div>
          </div>
        </div>
      </div>
      <div class="row responsive-sm">
        <div class="col">
          <div class="card">
              <div class="item item-divider">
                  Physical Activity
              </div>
              <div class="item item-text-wrap">
                <p>Text text</p>
                <p class="pull-right">
                  <a class="button button-clear button-positive" ng-href="/#/app/physicalactivity">View detailed data <i class="icon ion-ios-arrow-thin-right"></i></a>
                </p>
              </div>
          </div>
        </div>
        <div class="col"></div>
      </div>
    </div>

    <div class="dash-section">
      <div class="row">
        <h2>Medical Hsitory</h2>
      </div>
      <div class="row responsive-sm">
        <div class="col">
          <div class="card">
              <div class="item item-divider">
                  Allergies
              </div>
              <div class="item item-text-wrap">
                <p>Text text</p>
                <p class="pull-right">
                  <a class="button button-clear button-positive" ng-href="/#/app/allergies">View detailed data <i class="icon ion-ios-arrow-thin-right"></i></a>
                </p>
              </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
              <div class="item item-divider">
                  Disabilities
              </div>
              <div class="item item-text-wrap">
                <p>Text text</p>
                <p class="pull-right">
                  <a class="button button-clear button-positive" ng-href="/#/app/disabilities">View detailed data <i class="icon ion-ios-arrow-thin-right"></i></a>
                </p>
              </div>
          </div>
        </div>
      </div>
      <div class="row responsive-sm">
        <div class="col">
          <div class="card">
              <div class="item item-divider">
                  Symptom Reports
              </div>
              <div class="item item-text-wrap">
                <p>Text text</p>
                <p class="pull-right">
                  <a class="button button-clear button-positive" ng-href="/#/app/symptomreports">View detailed data <i class="icon ion-ios-arrow-thin-right"></i></a>
                </p>
              </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
              <div class="item item-divider">
                  Vaccinations
              </div>
              <div class="item item-text-wrap">
                <p>Text text</p>
                <p class="pull-right">
                  <a class="button button-clear button-positive" ng-href="/#/app/vaccinations">View detailed data <i class="icon ion-ios-arrow-thin-right"></i></a>
                </p>
              </div>
          </div>
        </div>
      </div>
      <div class="row responsive-sm">
        <div class="col">
          <div class="card">
              <div class="item item-divider">
                  Diseases
              </div>
              <div class="item item-text-wrap">
                <p>Text text</p>
                <p class="pull-right">
                  <a class="button button-clear button-positive" ng-href="/#/app/diseases">View detailed data <i class="icon ion-ios-arrow-thin-right"></i></a>
                </p>
              </div>
          </div>
        </div>
        <div class="col"></div>
      </div>
    </div>

    <div class="dash-section bg-alternate">
      <div class="row">
        <h2>Habits</h2>
      </div>
      <div class="row responsive-sm">
        <div class="col">
          <div class="card">
              <div class="item item-divider">
                  Diet
              </div>
              <div class="item item-text-wrap">
                <p>Text text</p>
                <p class="pull-right">
                  <a class="button button-clear button-positive" ng-href="/#/app/diet">View detailed data <i class="icon ion-ios-arrow-thin-right"></i></a>
                </p>
              </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
              <div class="item item-divider">
                  Smoking
              </div>
              <div class="item item-text-wrap">
                <p>Text text</p>
                <p class="pull-right">
                  <a class="button button-clear button-positive" ng-href="/#/app/smoking">View detailed data <i class="icon ion-ios-arrow-thin-right"></i></a>
                </p>
              </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
              <div class="item item-divider">
                  Alcohol
              </div>
              <div class="item item-text-wrap">
                <p>Text text</p>
                <p class="pull-right">
                  <a class="button button-clear button-positive" ng-href="/#/app/alcohol">View detailed data <i class="icon ion-ios-arrow-thin-right"></i></a>
                </p>
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="dash-section">
      <div class="row">
        <h2>Health Professionals</h2>
      </div>
      <div class="row responsive-sm">
        <div class="col">
          <div class="card">
              <div class="item item-divider">
                  Diagnoses
              </div>
              <div class="item item-text-wrap">
                <p>Text text</p>
                <p class="pull-right">
                  <a class="button button-clear button-positive" ng-href="/#/app/diagnoses">View detailed data <i class="icon ion-ios-arrow-thin-right"></i></a>
                </p>
              </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
              <div class="item item-divider">
                  Doctor Visits
              </div>
              <div class="item item-text-wrap">
                <p>Text text</p>
                <p class="pull-right">
                  <a class="button button-clear button-positive" ng-href="/#/app/doctorvisits">View detailed data <i class="icon ion-ios-arrow-thin-right"></i></a>
                </p>
              </div>
          </div>
        </div>
      </div>
      <div class="row responsive-sm">
        <div class="col">
          <div class="card">
              <div class="item item-divider">
                  Referrals
              </div>
              <div class="item item-text-wrap">
                <p>Text text</p>
                <p class="pull-right">
                  <a class="button button-clear button-positive" ng-href="/#/app/referrals">View detailed data <i class="icon ion-ios-arrow-thin-right"></i></a>
                </p>
              </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
              <div class="item item-divider">
                  hospitalisations
              </div>
              <div class="item item-text-wrap">
                <p>Text text</p>
                <p class="pull-right">
                  <a class="button button-clear button-positive" ng-href="/#/app/hospitalisations">View detailed data <i class="icon ion-ios-arrow-thin-right"></i></a>
                </p>
              </div>
          </div>
        </div>
      </div>
      <div class="row responsive-sm">
        <div class="col">
          <div class="card">
              <div class="item item-divider">
                  Medication
              </div>
              <div class="item item-text-wrap">
                <p>Text text</p>
                <p class="pull-right">
                  <a class="button button-clear button-positive" ng-href="/#/app/medication">View detailed data <i class="icon ion-ios-arrow-thin-right"></i></a>
                </p>
              </div>
          </div>
        </div>
        <div class="col"></div>
      </div>
    </div>

    <div class="row responsive-sm">
      <div class="col">
        <div class="card">
          <div class="item item-divider">
              DB contents
          </div>
          <pre style="max-width:600px;">{{output | json}}</pre>
          <button class="button button-full button-assertive" ng-click="deleteDb()">
            Delete Database
          </button>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </ion-content>
</ion-view>
