<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="pincloudDark bar-dark">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>

      <ion-nav-buttons side="right">
        <div ng-switch="replicationIcon">
          <div ng-switch-when="download">
            <button class="button button-clear">
              <i class="icon ion-ios-cloud-download"></i>
            </button>
          </div>
          <div ng-switch-when="upload">
            <button class="button button-clear">
              <i class="icon ion-ios-cloud-upload"></i>
            </button>
          </div>
          <div ng-switch-when="pause">
            <button ng-click="replicateToLocal()" class="button button-clear">
              <i class="icon ion-ios-cloud"></i>
            </button>
          </div>
          <div ng-switch-default>
            <button ng-click="replicateToLocal()" class="button button-clear">
              <i class="icon ion-ios-cloud-outline"></i>
            </button>
          </div>
        </div>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="pincloudDark bar-dark">
      <h1 class="title" style="color:white!important;">Menu</h1>
    </ion-header-bar>
    <ion-content class="sideMenuColor">
      <div class="list">
        <ion-item menu-close href="#/app/dashboard">
          <i class="icon ion-ios-pulse"></i> Dashboard
        </ion-item>
        <ion-item menu-close href="#/app/profile">
          <i class="icon ion-ios-person"></i> Profile
        </ion-item>
        <ion-item menu-close href="#/app/family">
          <i class="icon ion-ios-people"></i> Hereditary History
        </ion-item>

        <!-- Health Measurements -->
        <ion-item class="item-stable"
                  ng-click="toggleGroup(1)"
                  ng-class="{active: isGroupShown(1)}">
          <div class="pull-left">
            <i class="icon ion-stats-bars"></i>
            Health Measurements
          </div>
          <i class="icon pull-right" style="text-align:right;" ng-class="isGroupShown(1) ? 'ion-chevron-down' : 'ion-chevron-right'"></i>
        </ion-item>
        <ion-item class="item-accordion"
                  ng-show="isGroupShown(1)"
                  menu-close href="#/app/bloodpressure">
          <i class="icon ion-ios-heart"></i>
          Blood Pressure
        </ion-item>
        <ion-item class="item-accordion"
                  ng-show="isGroupShown(1)"
                  menu-close href="#/app/bloodsugar">
          <i class="icon ion-waterdrop"></i>
          Blood Sugar
        </ion-item>
        <ion-item class="item-accordion"
                  ng-show="isGroupShown(1)"
                  menu-close href="#/app/weight">
          <i class="icon ion-ios-body" ></i> <!-- ng-class="isGroupShown(1) ? 'ion-chevron-down' : 'ion-chevron-right'" -->
          Weight
        </ion-item>
        <ion-item class="item-accordion"
                  ng-show="isGroupShown(1)"
                  menu-close href="#/app/physicalactivity">
          <i class="icon ion-android-bicycle" ></i> <!-- ng-class="isGroupShown(1) ? 'ion-chevron-down' : 'ion-chevron-right'" -->
          Physical Activity
        </ion-item>
        <ion-item class="item-accordion"
                  ng-show="isGroupShown(1)"
                  menu-close href="#/app/cholesterol">
          <i class="icon ion-ios-nutrition" ></i> <!-- ng-class="isGroupShown(1) ? 'ion-chevron-down' : 'ion-chevron-right'" -->
          Cholesterol
        </ion-item>


        <!-- Medical History -->
        <ion-item class="item-stable"
                  ng-click="toggleGroup(2)"
                  ng-class="{active: isGroupShown(2)}">
          <div class="pull-left">
            <i class="icon ion-arrow-graph-up-right"></i>
            Medical History
          </div>
          <i class="icon pull-right" ng-class="isGroupShown(2) ? 'ion-chevron-down' : 'ion-chevron-right'"></i>
        </ion-item>
        <ion-item class="item-accordion"
                  ng-show="isGroupShown(2)"
                  menu-close href="#/app/allergies">
          <i class="icon ion-ios-flower"></i>
          Allergies
        </ion-item>
        <ion-item class="item-accordion"
                  ng-show="isGroupShown(2)"
                  menu-close href="#/app/disabilities">
          <i class="icon ion-android-walk"></i>
          Disabilities
        </ion-item>
        <ion-item class="item-accordion"
                  ng-show="isGroupShown(2)"
                  menu-close href="#/app/symptomreports">
          <i class="icon ion-thermometer" ></i> <!-- ng-class="isGroupShown(2) ? 'ion-chevron-down' : 'ion-chevron-right'" -->
          Symptom Reports
        </ion-item>
        <ion-item class="item-accordion"
                  ng-show="isGroupShown(2)"
                  menu-close href="#/app/vaccinations">
          <i class="icon ion-erlenmeyer-flask" ></i> <!-- ng-class="isGroupShown(2) ? 'ion-chevron-down' : 'ion-chevron-right'" -->
          Vaccinations
        </ion-item>
        <ion-item class="item-accordion"
                  ng-show="isGroupShown(2)"
                  menu-close href="#/app/diseases">
          <i class="icon ion-medkit" ></i> <!-- ng-class="isGroupShown(2) ? 'ion-chevron-down' : 'ion-chevron-right'" -->
          Diseases
        </ion-item>

        <!-- Habits -->
        <ion-item class="item-stable"
                  ng-click="toggleGroup(3)"
                  ng-class="{active: isGroupShown(3)}">
          <div class="pull-left">
            <i class="icon ion-beer"></i>
            Habits
          </div>
          <i class="icon pull-right" ng-class="isGroupShown(3) ? 'ion-chevron-down' : 'ion-chevron-right'"></i>
        </ion-item>
        <ion-item class="item-accordion"
                  ng-show="isGroupShown(3)"
                  menu-close href="#/app/diet">
          <i class="icon ion-pizza"></i>
          Diet
        </ion-item>
        <ion-item class="item-accordion"
                  ng-show="isGroupShown(3)"
                  menu-close href="#/app/smoking">
          <i class="icon ion-no-smoking"></i>
          Smoking
        </ion-item>
        <ion-item class="item-accordion"
                  ng-show="isGroupShown(3)"
                  menu-close href="#/app/alcohol">
          <i class="icon ion-wineglass" ></i> <!-- ng-class="isGroupShown(3) ? 'ion-chevron-down' : 'ion-chevron-right'" -->
          Alcohol
        </ion-item>

        <!-- Health Professionals -->
        <ion-item class="item-stable"
                  ng-click="toggleGroup(4)"
                  ng-class="{active: isGroupShown(4)}">
          <div class="pull-left">
            <i class="icon ion-person-add"></i>
            Health Professionals
          </div>
          <i class="icon pull-right" style="text-align:right;" ng-class="isGroupShown(4) ? 'ion-chevron-down' : 'ion-chevron-right'"></i>
        </ion-item>
        <ion-item class="item-accordion"
                  ng-show="isGroupShown(4)"
                  menu-close href="#/app/diagnoses">
          <i class="icon ion-clipboard"></i>
          Diagnoses
        </ion-item>
        <ion-item class="item-accordion"
                  ng-show="isGroupShown(4)"
                  menu-close href="#/app/doctorvisits">
          <i class="icon ion-calendar"></i>
          Doctor Visits
        </ion-item>
        <ion-item class="item-accordion"
                  ng-show="isGroupShown(4)"
                  menu-close href="#/app/referrals">
          <i class="icon ion-compose" ></i> <!-- ng-class="isGroupShown(4) ? 'ion-chevron-down' : 'ion-chevron-right'" -->
          Referrals
        </ion-item>
        <ion-item class="item-accordion"
                  ng-show="isGroupShown(4)"
                  menu-close href="#/app/hospitalisations">
          <i class="icon ion-home" ></i> <!-- ng-class="isGroupShown(4) ? 'ion-chevron-down' : 'ion-chevron-right'" -->
          Hospitalisations
        </ion-item>
        <ion-item class="item-accordion"
                  ng-show="isGroupShown(4)"
                  menu-close href="#/app/medication">
          <i class="icon ion-ios-person" ></i> <!-- ng-class="isGroupShown(4) ? 'ion-chevron-down' : 'ion-chevron-right'" -->
          Medication
        </ion-item>
        <ion-item class="item-accordion"
                  ng-show="isGroupShown(4)"
                  menu-close href="#/app/surgeries">
          <i class="icon ion-knife" ></i> <!-- ng-class="isGroupShown(4) ? 'ion-chevron-down' : 'ion-chevron-right'" -->
          Surgeries
        </ion-item>

        <!-- <ion-item menu-close href="#/app/medical">
          <i class="icon ion-ios-medkit-outline"></i> Medical History
        </ion-item>
        <ion-item menu-close href="#/app/habits">
          <i class="icon ion-ios-wineglass-outline"></i> Habits
        </ion-item>
        <ion-item menu-close href="#/app/professionals">
          <i class="icon ion-ios-flask-outline"></i> Health Professionals
        </ion-item>
        <ion-item menu-close href="#" ng-click="login()">
          <i class="icon ion-ios-unlocked-outline"></i> Login
        </ion-item> -->
      </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
