<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="pincloudDark bar-dark">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="pincloudDark bar-dark">
      <h1 class="title" style="color:white!important;">Menu</h1>
    </ion-header-bar>
    <ion-content class="sideMenuColor">
      <div class="list">
        <ion-item menu-close href="#/app/dashboard">
          <i class="icon ion-ios-pulse"></i> Dashboard
        </ion-item>
        <ion-item menu-close href="#/app/profile">
          <i class="icon ion-ios-person-outline"></i> Profile
        </ion-item>
        <ion-item menu-close href="#/app/family">
          <i class="icon ion-ios-people-outline"></i> Hereditary History
        </ion-item>

        <!-- Health Measurements -->
        <ion-item class="item-stable"
                  ng-click="toggleGroup(1)"
                  ng-class="{active: isGroupShown(1)}">
          <i class="icon ion-ios-person"></i>
          Health Measurements
          <i class="icon ion-ios-person" style="text-align:right;" ng-class="isGroupShown(1) ? 'ion-minus' : 'ion-plus'"></i>
        </ion-item>
        <ion-item class="item-accordion"
                  ng-show="isGroupShown(1)"
                  menu-close href="#/app/dashboard">
          <i class="icon ion-ios-person"></i>
          Blood Pressure
        </ion-item>
        <ion-item class="item-accordion"
                  ng-show="isGroupShown(1)"
                  menu-close href="#/app/dashboard">
          <i class="icon ion-ios-person"></i>
          Blood Sugar
        </ion-item>
        <ion-item class="item-accordion"
                  ng-show="isGroupShown(1)"
                  menu-close href="#/app/dashboard">
          <i class="icon ion-ios-person" ></i> <!-- ng-class="isGroupShown(1) ? 'ion-minus' : 'ion-plus'" -->
          Weight
        </ion-item>
        <ion-item class="item-accordion"
                  ng-show="isGroupShown(1)"
                  menu-close href="#/app/dashboard">
          <i class="icon ion-ios-person" ></i> <!-- ng-class="isGroupShown(1) ? 'ion-minus' : 'ion-plus'" -->
          Physical Activity
        </ion-item>
        <ion-item class="item-accordion"
                  ng-show="isGroupShown(1)"
                  menu-close href="#/app/dashboard">
          <i class="icon ion-ios-person" ></i> <!-- ng-class="isGroupShown(1) ? 'ion-minus' : 'ion-plus'" -->
          Cholesterol
        </ion-item>


        <!-- Medical History -->
        <ion-item class="item-stable"
                  ng-click="toggleGroup(2)"
                  ng-class="{active: isGroupShown(2)}">
          <i class="icon ion-ios-medkit-outline"></i>
          Medical History
          <i class="icon ion-ios-person" style="text-align:right;" ng-class="isGroupShown(2) ? 'ion-minus' : 'ion-plus'"></i>
        </ion-item>
        <ion-item class="item-accordion"
                  ng-show="isGroupShown(2)"
                  menu-close href="#/app/dashboard">
          <i class="icon ion-ios-person"></i>
          Allergies
        </ion-item>
        <ion-item class="item-accordion"
                  ng-show="isGroupShown(2)"
                  menu-close href="#/app/dashboard">
          <i class="icon ion-ios-person"></i>
          Disabilities
        </ion-item>
        <ion-item class="item-accordion"
                  ng-show="isGroupShown(2)"
                  menu-close href="#/app/dashboard">
          <i class="icon ion-ios-person" ></i> <!-- ng-class="isGroupShown(2) ? 'ion-minus' : 'ion-plus'" -->
          Symptom Reports
        </ion-item>
        <ion-item class="item-accordion"
                  ng-show="isGroupShown(2)"
                  menu-close href="#/app/dashboard">
          <i class="icon ion-ios-person" ></i> <!-- ng-class="isGroupShown(2) ? 'ion-minus' : 'ion-plus'" -->
          Vaccinations
        </ion-item>
        <ion-item class="item-accordion"
                  ng-show="isGroupShown(2)"
                  menu-close href="#/app/dashboard">
          <i class="icon ion-ios-person" ></i> <!-- ng-class="isGroupShown(2) ? 'ion-minus' : 'ion-plus'" -->
          Diseases
        </ion-item>

        <!-- Habits -->
        <ion-item class="item-stable"
                  ng-click="toggleGroup(3)"
                  ng-class="{active: isGroupShown(3)}">
          <i class="icon ion-ios-medkit-outline"></i>
          Habits
          <i class="icon ion-ios-person" style="text-align:right;" ng-class="isGroupShown(3) ? 'ion-minus' : 'ion-plus'"></i>
        </ion-item>
        <ion-item class="item-accordion"
                  ng-show="isGroupShown(3)"
                  menu-close href="#/app/dashboard">
          <i class="icon ion-ios-person"></i>
          Diet
        </ion-item>
        <ion-item class="item-accordion"
                  ng-show="isGroupShown(3)"
                  menu-close href="#/app/dashboard">
          <i class="icon ion-ios-person"></i>
          Smoking
        </ion-item>
        <ion-item class="item-accordion"
                  ng-show="isGroupShown(3)"
                  menu-close href="#/app/dashboard">
          <i class="icon ion-ios-person" ></i> <!-- ng-class="isGroupShown(3) ? 'ion-minus' : 'ion-plus'" -->
          Alcohol
        </ion-item>

        <!-- Health Professionals -->
        <ion-item class="item-stable"
                  ng-click="toggleGroup(4)"
                  ng-class="{active: isGroupShown(4)}">
          <i class="icon ion-ios-medkit-outline"></i>
          Health Professionals
          <i class="icon ion-ios-person" style="text-align:right;" ng-class="isGroupShown(4) ? 'ion-minus' : 'ion-plus'"></i>
        </ion-item>
        <ion-item class="item-accordion"
                  ng-show="isGroupShown(4)"
                  menu-close href="#/app/dashboard">
          <i class="icon ion-ios-person"></i>
          Diagnoses
        </ion-item>
        <ion-item class="item-accordion"
                  ng-show="isGroupShown(4)"
                  menu-close href="#/app/dashboard">
          <i class="icon ion-ios-person"></i>
          Doctor Visits
        </ion-item>
        <ion-item class="item-accordion"
                  ng-show="isGroupShown(4)"
                  menu-close href="#/app/dashboard">
          <i class="icon ion-ios-person" ></i> <!-- ng-class="isGroupShown(4) ? 'ion-minus' : 'ion-plus'" -->
          Referrals
        </ion-item>
        <ion-item class="item-accordion"
                  ng-show="isGroupShown(4)"
                  menu-close href="#/app/dashboard">
          <i class="icon ion-ios-person" ></i> <!-- ng-class="isGroupShown(4) ? 'ion-minus' : 'ion-plus'" -->
          Hospitalisations
        </ion-item>
        <ion-item class="item-accordion"
                  ng-show="isGroupShown(4)"
                  menu-close href="#/app/dashboard">
          <i class="icon ion-ios-person" ></i> <!-- ng-class="isGroupShown(4) ? 'ion-minus' : 'ion-plus'" -->
          Medication
        </ion-item>
        <ion-item class="item-accordion"
                  ng-show="isGroupShown(4)"
                  menu-close href="#/app/dashboard">
          <i class="icon ion-ios-person" ></i> <!-- ng-class="isGroupShown(4) ? 'ion-minus' : 'ion-plus'" -->
          Surgeries
        </ion-item>


        <ion-item menu-close href="#/app/medical">
          <i class="icon ion-ios-medkit-outline"></i> Medical History
        </ion-item>
        <ion-item menu-close href="#/app/habits">
          <i class="icon ion-ios-wineglass-outline"></i> Habits
        </ion-item>
        <ion-item menu-close href="#/app/professionals">
          <i class="icon ion-ios-flask-outline"></i> Health Professionals
        </ion-item>
        <ion-item menu-close href="#" ng-click="login()">
          <i class="icon ion-ios-unlocked-outline"></i> Login
        </ion-item>
      </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
