<pre>
	{{allMeasurements}}
</pre>
<ul class="timeline">
  <li ng-repeat="measure in allMeasurements | orderBy: 'date' :true | limitTo: limit track by $index">
	<div class="timeline-thumb bg-color-{{measure.color}} bg-color-white timeline-icon">
	  <i class="icon ion-information"></i>
	</div>
	<div class="timeline-item">
	  <h4>{{measure.date | date:'mediumDate'}}
		<span class="pos-absolute-right">
		  <button class="button button-clear button-stable button-small" ng-click="showConfirm(measure)"><i class="icon ion-close"></i></button>
		</span>
	  </h4>

	  <div class="timeline-stats" ng-transclude>

	  </div>
	  <br/>
	</div>
	<div class="divider-title" ng-if="$index == 3" style="z-index:999;">Older measurements</div>
  </li>
</ul>
