/* Empty. Add your own CSS if you like */
body {
  color:#666;
}

h1, h2, h3, h4, h5, h6 {
  color:#1CAF9A !important;
}

label, p, span, input {
  color:#666 !important;
}

/*----------------- colors ------------------*/

.textPincloudWhite {
  color:#fff !important;
}

.pincloudWhite {
  background-color: #fff !important;
  border-color: #fff !important;
}

.textPincloudGreen {
  color:#1CAF9A !important;
}

.pincloudGreen {
  background-color: #1CAF9A !important;
  border-color: #1CAF9A !important;
}

.textPincloudGreenAlternative {
  color:#1caf51 !important;
}

.pincloudGreenAlternative {
  background-color:#1caf51 !important;
  border-color:#1caf51 !important;
}

.textPincloudRed {
  color:#af1c31 !important;
}

.pincloudRed {
  background-color:#af1c31 !important;
  border-color:#af1c31 !important;
}

.textPincloudBlue {
  color:#1c7baf !important;
}

.pincloudBlue {
  background-color:#1c7baf !important;
  border-color:#1c7baf !important;
}

.textPincloudYellow {
  color:#af9a1c !important;
}

.pincloudYellow {
  background-color:#af9a1c !important;
  border-color:#af9a1c !important;
}

.textPincloudMagenta {
  color:#9a1caf !important;
}

.pincloudMagenta {
  background-color:#9a1caf !important;
  border-color:#9a1caf !important;
}

.textPincloudDark {
  color: #2B3643 !important;
}

.pincloudDark {
  background-color: #2B3643 !important;
  border-color: #2B3643 !important;
}

.textPincloudLight {
  color: #666 !important;
}

.pincloudLight {
  background-color: #666 !important;
  border-color: #666 !important;
}

/*----------------- end colors ------------------*/


.textCenter{
  text-align: center;
}

.bg-alternate{
  background-color:#ddd;
}

.dash-section{
  /*background-color:#ddd;*/
  /*margin-top:30px;*/
  padding-top:30px;
  /*margin-bottom:30px;*/
  padding-bottom:30px;
}

/*----------------- circle profile pic ------------------*/

.img-circle-large{
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  background-color: grey;
  overflow: hidden;
}

.img-circle-medium{
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-color: grey;
  overflow: hidden;
}

.img-circle-small{
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  background-color: grey;
  overflow: hidden;
}

.img-circle-src {
  width:100%;
  height:100%;
  background-position: 50%;
  background-size: cover;
}

/*----------------- end circle profile pic ------------------*/

.center{
  display: block;
  margin:auto;
}

.sideMenuColor {
  background-color: #364150 !important; /* This sets the background color*/
 }

/*Set the background to transparent for ion-item*/
.sideMenuColor .item {
  background-color: transparent !important;
  border:none;   /*Removes all borders*/
  border-top: 1px solid;   /*Top Border for each menu item*/
  border-bottom:2px solid;   /*Bottom border for each menu item*/
  border-color: #666;   /*Sets colors for top and bottom border*/
  color: #ABB4C0;   /*Text color for each item*/
}

/*Changes the border for the last item*/
.sideMenuColor .item:last-child {
  border-bottom: 1px solid #666;
}

.sideMenuColor .item-complex .item-content, .dark .item-radio .item-content {
  background-color: transparent;
}

/*Just makes the type white*/
.sideMenuColor h2,
.sideMenuColor h3,
.sideMenuColor p,
.sideMenuColor a {
  color: #ABB4C0;  /*Text color for each item, overrides the color property above*/
}


/*--------------- accordion list --------------*/
.list .item.item-accordion {
  /*line-height: 38px;*/
  padding-left: 30px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.pull-left{
  float:left;
}

.pull-right{
  float:right;
}
/*--------------- accordion list --------------*/

.measurement {
  display: block;
  font-size: 1.2em;
  color:#333 !important;
}
